<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="../style/bootstrap.minjournal.css">
    <link rel="stylesheet" href="../style/all.css">
    <title>Document</title>
</head>
<body class="bg">
    <div class="container text-center mt-5 pt-4 ">
        <div class="jumbotron jumbotron-fluid color">
            <div class="container">
            <h1 class="display-4 text-white">Bienvenido Albums App Spotify</h1>
            <hr class="my-4">
                <p class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg mt-5" href="http://localhost:9000/auth/spotify" role="button">Inicie Sesión</a>
        </div>
    </div>
</div>
</body>
</html>