.bg {
    background-image: url("https://cdn.startselect.com/production/products/images/81e2e/33687/1145617560.jpg");
    background-size: cover;
}
.color{
    background-color: rgba(74, 71, 255, 0.548);
}